<div class="container my-4">
  <%# <h1><%= "Hello, #{@user.first_name}, here are the details for your listing:" %>
  <%# </h1> %>
  <div class="container mt-2">
    <div class="car-card card-product my-3 booking-section width:70% ">
      <h2><%= "Hello there, #{current_user.first_name}" %></h2>
      <p><%= "Your booking for #{@car.name} begins on #{@booking.start_date.strftime('%a %d %b %Y')} and will end on #{@booking.end_date.strftime('%a %d %b %Y')} ." %></p>
      <p><%=" The total price per day for this booking is #{@booking.price_per_day} EUR"%></p>
      <% if @booking.car.image.attached? %>
          <%= image_tag @booking.car.image, class: 'img-fluid', alt: 'Car Image' %>
      <% else %>
          <p>No image available</p>
      <% end %>
    </div>
  <div class="mt-2">
     <%= link_to "Back to bookings", bookings_path(current_user), class:"btn btn-info"  %>
     <%= button_to "Delete booking", @booking, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
