<h1>Car Junction</h1>
<p>Drive the Experience, Rent the Journey</p>
<div class="container">
<% @cars.each do |car| %>
    <% if car.image.present? %>
      <%= image_tag car.image, alt: "Car Image" %>
    <% else %>
      <p>No image available</p>
    <% end %>
    <p>
      <%= car.name %>
      <%= car.year %>
    </p>

    <p><%= car.mileage %></p>
    <p><%= car.review %></p>

  
<% end %>
</div>
