<div class="container">
  <h1><strong>Car Junction</strong></h1>
  <p>Drive the Experience, Rent the Journey</p>
  <div class="grid-container">
    <% @cars_all.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="car-card">
          <% if car.image.present? %>
            <%= cl_image_tag car.image.key,class: "car-image", alt: "Car Image" %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/dwft4wv8p/image/upload/v1700750938/Car_Junction_Animated_Logo_resized_vnxmkc.png" %>
          <% end %>
          <h3><strong><%= car.name %> (<%= car.year %>)</strong></h3>
          <div class="card-price">
            <p><i class="fa-solid fa-money-check-dollar mr-5"></i><%= car.price_per_day %> / day</p>
            <p><i class="fa-solid fa-gauge"></i><%= car.mileage %> </p>
          </div>
          <div class="card-description">

            <p><%= car.description %></p>
          </div>
        </div>
     <% end %>
    <% end %>
    </div>
</div>
