<div class="container">
<h1>My Cars</h1>

<% if @user_cars.any? %>

    <% @user_cars.each do |car| %>
    <div class="car-card my-3">
      <% if car.image.present? %>
          <%= cl_image_tag car.image.key,class: "car-image", alt: "Car Image" %>
        <% else %>
          <p>No image available</p>
        <% end %>
    <ul class="cars-list">
      <li>
        <h3><strong><%= car.name %></strong></h3>
      </li>
      <li>
        <h5><%= car.year %></h5>
      </li>
      <li>
        <h5><%= car.mileage %></h5>
      </li>
      <li>
        <h5><%= car.price_per_day %></h5>
      </li>
      <p><%= car.description %></p>
      <%= button_to "Delete car", car, method: :delete, class:"btn btn-danger"%>
    </ul>
    </div>
    <% end %>
<% else %>
  <p>No cars found.</p>
<% end %>
</div>
