<div class="container my-5">
  <div class="car-card my-3">
        <% if @car.image.present? %>
          <%= cl_image_tag @car.image.key,class: "car-image", alt: "Car Image" %>
        <% else %>
          <p>No image available</p>
        <% end %>
  </div>
  <h1><%= @car.name %></h1>
  <div class="car-card my-3">
  <%= link_to "Book car", new_car_booking_path(@car), class:"btn btn-success"  %>
</div>
<div class="car-card my-3">
  <%= link_to "Back to Cars", cars_path, class:"btn btn-info" %>
</div>
<div class="car-card my-3">
  <%= button_to "Delete car", @booking, method: :delete, class:"btn btn-danger"%>
</div>
</div>
